{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fancy Forms</title>
  
  
  
      <link rel="stylesheet" href="../static/css1/style.css">

  
</head>

<body link="white" alink="white" vlink="white">
  <form action="{% url 'authentication:login' %}" method="post">
  <div class="middle">
  <h1 href="{% url 'index' %}"><a href="{% url 'index' %}" style="text-decoration:none">Check</a></h1>

  <!--  Fancy inputs  -->
  <div id="fancy-inputs">
    <label class="input">
      <input type="text" name="username">
      <span><span>Username</span></span>
    </label>

    <label class="input">
      <input type="text" name="password">
      <span><span>Password</span></span>
    </label>
  </div> 
  <a href="" class="btn">Sign Up</a>
</div>
</form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <!--<script src="{% static 'js1/index.js' }%"></script>-->
    <script src="../static/js1/index.js"></script>
    
    

</body>
</html>
